extends layout
block title
    | AWS dashboard
block content
    div.gridster
        ul
            li(data-row='1', data-col='1', data-sizex='1', data-sizey='1')
                div(data-id='ec2', data-view='Meter', data-title='EC2 instances', data-min='0')
            li(data-row='1', data-col='1', data-sizex='1', data-sizey='1')
                div(data-id='elb', data-view='Meter', data-title='Elastic Load Balancers', data-min='0', data-max='60')
            li(data-row='1', data-col='1', data-sizex='1', data-sizey='1')
                div(data-id='eip', data-view='Meter', data-title='Elastic IPs', data-min='0')
            li(data-row='1', data-col='1', data-sizex='1', data-sizey='2')
                div(data-id='summary', data-view='List', data-unordered='true', data-title='Summary', data-moreinfo='aws components currently available')
            li(data-row='1', data-col='1', data-sizex='1', data-sizey='1')
                div(data-id='sg', data-view='Text', data-title='Security Groups')
            li(data-row='1', data-col='1', data-sizex='1', data-sizey='1')
                div(data-id='s3', data-view='Text', data-title='S3 Buckets')

