extends layout
block title
    | AWS dashboard
block content
    div.gridster
        ul
            li(data-row='1', data-col='1', data-sizex='1', data-sizey='1')
                div(data-id='ec2', data-view='Meter', data-title='EC2 instances', data-min='0')
            li(data-row='1', data-col='2', data-sizex='1', data-sizey='1')
                div(data-id='sg', data-view='Text', data-title='Security Groups', style='background-color:#9c4274')
            li(data-row='1', data-col='3', data-sizex='1', data-sizey='1')
                div(data-id='elb', data-view='Meter', data-title='Load Balancers', data-min='0')
            li(data-row='1', data-col='4', data-sizex='1', data-sizey='1')
                div(data-id='s3_buckets', data-view='Text', data-title='S3 Buckets')

            li(data-row='2', data-col='1', data-sizex='1', data-sizey='1')
                div(data-id='hz', data-view='Text', data-title='R53 zones', style='background-color:#eb9c3c')
            li(data-row='2', data-col='2', data-sizex='1', data-sizey='1')
                div(data-id='ebs_volumes', data-view='Text', data-title='EBS Volumes', style='background-color:#9c4274')
            li(data-row='2', data-col='3', data-sizex='1', data-sizey='1')
                div(data-id='eip', data-view='Meter', data-title='Elastic IPs', data-min='0')
            li(data-row='2', data-col='4', data-sizex='1', data-sizey='1')
                div(data-id='rds', data-view='Meter', data-title='RDS instances', data-min='0')

block scripts
    script.
        $(function() {
          // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
          //Dashing.gridsterLayout('[{"col":2,"row":1},{"col":1,"row":1},{"col":3,"row":1},{"col":2,"row":2},{"col":3,"row":2},{"col":1,"row":2},{"col":5,"row":1},{"col":4,"row":2},{"col":2,"row":3}]')
          //Dashing.widget_base_dimensions = [300, 360]
          //Dashing.numColumns = 4
        });

