extends layout
block title
    | 1080p dashboard
block content
    div.gridster
        ul
            li(data-row='1', data-col='1', data-sizex='1', data-sizey='1')
                div(data-view='Clock')
                i.fa.fa-clock-o.icon-background
            li(data-row='1', data-col='1', data-sizex='1', data-sizey='1')
                div(data-view='Image', data-image='/logo.png')

block scripts
    script.
        $(function() {
          // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
          Dashing.gridsterLayout('[{"col":2,"row":1},{"col":1,"row":1},{"col":3,"row":1},{"col":2,"row":2},{"col":3,"row":2},{"col":1,"row":2},{"col":5,"row":1},{"col":4,"row":2},{"col":2,"row":3}]')
          Dashing.widget_base_dimensions = [370, 340]
          Dashing.numColumns = 5
        });
